In [1]:
# dependencies
import pandas as pd

In [2]:
# read json file into a dataframe
samples = pd.read_json("samples.json")

In [3]:
# display dataframe
samples

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."
...,...,...,...
148,1574,"{'id': 1574, 'ethnicity': 'Caucasian', 'gender...","{'id': '1574', 'otu_ids': [482, 909, 2419, 944..."
149,1576,"{'id': 1576, 'ethnicity': 'Caucasian', 'gender...","{'id': '1576', 'otu_ids': [1929, 1770, 1926, 1..."
150,1577,"{'id': 1577, 'ethnicity': 'Caucasian', 'gender...","{'id': '1577', 'otu_ids': [922, 1795, 151, 318..."
151,1581,"{'id': 1581, 'ethnicity': 'Asian(American)', '...","{'id': '1581', 'otu_ids': [1795, 3312, 1399, 3..."
152,1601,"{'id': 1601, 'ethnicity': 'Caucasian', 'gender...","{'id': '1601', 'otu_ids': [1929, 3030, 1795, 8..."

In [4]:
# explore the data in the 'metadata' column
samples.iloc[0,1]

{'id': 940,
 'ethnicity': 'Caucasian',
 'gender': 'F',
 'age': 24.0,
 'location': 'Beaufort/NC',
 'bbtype': 'I',
 'wfreq': 2.0}

In [5]:
# explore the data in the 'samples' column
print(samples.iloc[0,2])

{'id': '940', 'otu_ids': [1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, 2811, 165, 2782, 2247, 2011, 2396, 830, 2964, 1795, 2722, 307, 2178, 2908, 1193, 2167, 1208, 2039, 1274, 2739, 2737, 1314, 1962, 2186, 2335, 2936, 907, 833, 2483, 2475, 2491, 2291, 159, 2571, 2350, 2342, 2546, 725, 170, 1505, 513, 259, 1169, 258, 1232, 1497, 1498, 1503, 412, 2235, 1960, 1968, 121, 2065, 340, 2110, 2188, 357, 342], 'sample_values': [163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37, 36, 30, 28, 25, 23, 22, 19, 19, 14, 13, 13, 13, 12, 12, 11, 11, 11, 10, 10, 10, 8, 7, 7, 7, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], 'otu_labels': ['Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae', 'Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria', 'Bacteria;Firmicutes', 'Bacteria', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes', 'Bacteria;Firmicutes', 'Bacteria;Firmicutes', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria']}

In [6]:
# more exploratory operations for the remaining cells, to guide how we call data in the app.js file
print(samples.metadata[0])
print(samples.metadata[152])

{'id': 940, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 24.0, 'location': 'Beaufort/NC', 'bbtype': 'I', 'wfreq': 2.0}
{'id': 1601, 'ethnicity': 'Caucasian', 'gender': 'F', 'age': 22.0, 'location': 'NC', 'bbtype': 'I', 'wfreq': 2.0}

In [7]:
print(samples.samples[0]["otu_ids"])

[1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, 2811, 165, 2782, 2247, 2011, 2396, 830, 2964, 1795, 2722, 307, 2178, 2908, 1193, 2167, 1208, 2039, 1274, 2739, 2737, 1314, 1962, 2186, 2335, 2936, 907, 833, 2483, 2475, 2491, 2291, 159, 2571, 2350, 2342, 2546, 725, 170, 1505, 513, 259, 1169, 258, 1232, 1497, 1498, 1503, 412, 2235, 1960, 1968, 121, 2065, 340, 2110, 2188, 357, 342]

In [8]:
print(len(samples.samples[0]["otu_ids"]))
print(len(samples.samples[0]["sample_values"]))
print(len(samples.samples[0]["otu_labels"]))

80
80
80

In [9]:
for x in range(10):
    ids = samples.metadata[x]["id"]
    sample = samples.metadata[x]["bbtype"]
    print(f"For volunteer ID #{ids}, the blood type is {sample}.")

For volunteer ID #940, the blood type is I.
For volunteer ID #941, the blood type is I.
For volunteer ID #943, the blood type is I.
For volunteer ID #944, the blood type is I.
For volunteer ID #945, the blood type is I.
For volunteer ID #946, the blood type is I.
For volunteer ID #947, the blood type is I.
For volunteer ID #948, the blood type is I.
For volunteer ID #949, the blood type is I.
For volunteer ID #950, the blood type is I.